@import 'config';
%btn {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;

    &:hover{
        background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }
}

  .btn-search {
    @extend %btn;
    font-weight: 500;
    background: transparent;
    width: 100%;
    height: 46px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #dfa974;
    border-radius: 2px;
    color: #dfa974;
  }

  .primary-btn {
    @extend %btn;
    background: linear-gradient(135deg, #71b7e6, #c4fb42);
    
    a{
      color: var(--light-color);
      text-decoration: none;
    }
  }